Repository mihajlodj/UKS-Tim3-2023, pull requests merged in 2024-06, with the labels that each got.

#139 Fixed methods for sending notifications and choosing recipients
  backend/github_clone/comment/serializers.py
  backend/github_clone/comment/views.py
  backend/github_clone/issue/serializers.py
  backend/github_clone/issue/views.py
  backend/github_clone/label/serializers.py
  backend/github_clone/label/views.py
  backend/github_clone/pull_request/service.py
  backend/github_clone/pull_request/views.py
  backend/github_clone/reaction/serializers.py
  backend/github_clone/release/views.py
  backend/github_clone/tests/test_labels.py
  backend/github_clone/websocket/notification_service.py
Labels: bug, backend

#141 Feature event history
  backend/github_clone/comment/serializers.py
  backend/github_clone/issue/views.py
  backend/github_clone/label/views.py
  backend/github_clone/main/migrations/0005_eventhistory.py
  backend/github_clone/main/migrations/0006_eventhistory_type.py
  backend/github_clone/main/models.py
  backend/github_clone/milestone/views.py
  backend/github_clone/pull_request/service.py
  backend/github_clone/pull_request/views.py
  backend/github_clone/repository/urls.py
  backend/github_clone/repository/views.py
  front/github_clone_front/src/components/issue/IssueViewComponent.vue
  front/github_clone_front/src/components/milestone/MilestoneViewComponent.vue
  front/github_clone_front/src/components/pages/EventHistoryPage.vue
  front/github_clone_front/src/components/pullRequest/PrDisplay.vue
  front/github_clone_front/src/main.js
  front/github_clone_front/src/services/RepositoryService.js
Labels: enhancement, backend, frontend

#143 Bugfix profile avatar
  backend/github_clone/avatars/ScreenshotSlikeProfila.png
  backend/github_clone/developer/service.py
  backend/github_clone/github_clone/settings.py
  front/github_clone_front/src/components/issue/IssueTable.vue
  front/github_clone_front/src/components/util/SettingsProfileUtil/ProfileSettingsMenu.vue
  nginx/conf.d/default.conf
Labels: bug, technical, backend, frontend

#142 dockerized the application again #28
  backend/github_clone/avatars/ScreenshotSlikeProfila.png
  backend/github_clone/developer/service.py
  backend/github_clone/github_clone/settings.py
  backend/github_clone/main/gitea_service.py
  front/github_clone_front/src/components/issue/IssueTable.vue
  front/github_clone_front/src/components/util/SettingsProfileUtil/ProfileSettingsMenu.vue
  front/github_clone_front/vue.config.js
  nginx/conf.d/default.conf
Labels: technical

#145 PR: Updated models
  model/uks_model.png
  model/uks_model.txt
  model/uks_model_4.png
Labels: technical

#146 Finalization of UKS project
  model/uks_model.png
  model/uks_model.txt
  model/uks_model_4.png
Labels: technical
