Repository mihajlodj/UKS-Tim3-2023, pull requests merged in 2024-05, with the labels that each got.

#89 Bug fix starrit owner to repo
  backend/github_clone/repository/urls.py
  backend/github_clone/repository/views.py
  front/github_clone_front/src/components/repository/ViewRepo.vue
  front/github_clone_front/src/components/util/SearchPageUtil/RepoBox.vue
  front/github_clone_front/src/services/RepositoryService.js
Labels: bug, backend

#97 Feature notifications
  backend/github_clone/github_clone/urls.py
  backend/github_clone/main/migrations/0001_initial.py
  backend/github_clone/main/migrations/0002_notification_tag_project_watches_issue_events_and_more.py
  backend/github_clone/main/models.py
  backend/github_clone/websocket/urls.py
  backend/github_clone/websocket/views.py
  front/github_clone_front/src/components/auth/LoginPage.vue
  front/github_clone_front/src/components/notifications/NotificationDisplay.vue
  front/github_clone_front/src/components/notifications/NotificationsList.vue
  front/github_clone_front/src/components/util/MainPageUtil/Nav-bar.vue
  front/github_clone_front/src/main.js
  front/github_clone_front/src/services/NotificationService.js
Labels: enhancement, backend, frontend

#111 Displaying links to issues from commit message
  backend/github_clone/main/migrations/0002_alter_issue_created.py
  front/github_clone_front/src/components/commit/CommitBasicInfo.vue
  front/github_clone_front/src/components/commit/CommitsTable.vue
Labels: enhancement, frontend

#114 Bugfix commits after merge
  backend/github_clone/branch/serializers.py
  backend/github_clone/branch/views.py
  backend/github_clone/commit/urls.py
  backend/github_clone/commit/views.py
  backend/github_clone/pull_request/service.py
  backend/github_clone/pull_request/views.py
  backend/github_clone/repository/views.py
  front/github_clone_front/src/components/commit/CommitDisplay.vue
  front/github_clone_front/src/components/commit/CommitsTable.vue
  front/github_clone_front/src/components/pullRequest/PrDisplay.vue
  front/github_clone_front/src/components/repository/CommitsOverview.vue
  front/github_clone_front/src/components/repository/HistoryView.vue
  front/github_clone_front/src/components/repository/branch/BranchesView.vue
  front/github_clone_front/src/main.js
  front/github_clone_front/src/services/CommitService.js
Labels: bug, backend, frontend

#118 Bugfix main page repo display
  backend/github_clone/repository/urls.py
  backend/github_clone/repository/views.py
  front/github_clone_front/src/components/pages/MainPage.vue
  front/github_clone_front/src/components/profile/ProfilePage.vue
  front/github_clone_front/src/components/profile/ProfilePageOverView.vue
  front/github_clone_front/src/components/profile/RepositoryContainer.vue
  front/github_clone_front/src/components/profile/non_registered/ProfilePageOverViewView.vue
  front/github_clone_front/src/components/profile/non_registered/ProfilePageView.vue
  front/github_clone_front/src/components/util/MainPageUtil/RepositoryList.vue
  front/github_clone_front/src/components/util/MainPageUtil/SlideMenu.vue
  front/github_clone_front/src/services/RepositoryService.js
Labels: bug, backend, frontend

#130 Bugfix search page links
  backend/github_clone/developer/views.py
  backend/github_clone/issue/urls.py
  backend/github_clone/issue/views.py
  backend/github_clone/pull_request/urls.py
  backend/github_clone/pull_request/views.py
  backend/github_clone/repository/views.py
  backend/github_clone/tests/test_advanced_serach.py
  front/github_clone_front/src/assets/github_lie.png
  front/github_clone_front/src/components/issue/IssueTableForMainButton.vue
  front/github_clone_front/src/components/pages/MainPage.vue
  front/github_clone_front/src/components/pages/SearchPage.vue
  front/github_clone_front/src/components/pages/UsersIssuesPage.vue
  front/github_clone_front/src/components/profile/ProfileNavBarExtension.vue
  front/github_clone_front/src/components/pullRequest/PrListUsersPrs.vue
  front/github_clone_front/src/components/util/MainPageUtil/Nav-bar.vue
  front/github_clone_front/src/components/util/MainPageUtil/SlideMenu.vue
  front/github_clone_front/src/components/util/MainPageUtil/SlideProfileMenu.vue
  front/github_clone_front/src/components/util/SearchPageUtil/CommitBox.vue
  front/github_clone_front/src/components/util/SearchPageUtil/DevBox.vue
  front/github_clone_front/src/components/util/SearchPageUtil/IssueBox.vue
  front/github_clone_front/src/components/util/SearchPageUtil/PrBox.vue
  front/github_clone_front/src/components/util/SearchPageUtil/RepoBox.vue
  front/github_clone_front/src/main.js
  front/github_clone_front/src/services/IssueService.js
  front/github_clone_front/src/services/PullRequestService.js
Labels: bug, enhancement, backend, frontend

#131 Feature UI redesign
  backend/github_clone/branch/views.py
  backend/github_clone/github_clone/settings.py
  backend/github_clone/label/views.py
  backend/github_clone/pull_request/views.py
  backend/github_clone/websocket/notification_service.py
  front/github_clone_front/src/assets/github_lie_2.png
  front/github_clone_front/src/components/auth/LoginPage.vue
  front/github_clone_front/src/components/commit/CommitsTable.vue
  front/github_clone_front/src/components/issue/ListIssueComponent.vue
  front/github_clone_front/src/components/pages/MainPage.vue
  front/github_clone_front/src/components/pullRequest/CreatePrPage.vue
  front/github_clone_front/src/components/pullRequest/FilterBar.vue
  front/github_clone_front/src/components/pullRequest/PrList.vue
  front/github_clone_front/src/components/repository/CommitsOverview.vue
  front/github_clone_front/src/components/repository/CreateRepo.vue
  front/github_clone_front/src/components/repository/RepoContent.vue
  front/github_clone_front/src/components/repository/RepoNavbar.vue
  front/github_clone_front/src/components/repository/ViewRepo.vue
  front/github_clone_front/src/components/repository/branch/BranchesTable.vue
  front/github_clone_front/src/components/repository/branch/BranchesView.vue
  front/github_clone_front/src/components/repository/content/text/CodeHeader.vue
  front/github_clone_front/src/components/repository/content/text/EditingHeader.vue
  front/github_clone_front/src/components/repository/content/text/TextFile.vue
  front/github_clone_front/src/components/tag-release/TagReleaseComponent.vue
  front/github_clone_front/src/components/util/InputField.vue
  front/github_clone_front/src/components/util/MainPageUtil/RepositoryList.vue
  front/github_clone_front/src/components/util/NotFoundPage.vue
Labels: enhancement, frontend

#135 Bugfix profile page
  front/github_clone_front/src/components/pages/MainPage.vue
  front/github_clone_front/src/components/profile/ProfilePage.vue
  front/github_clone_front/src/components/profile/ProfilePageRepositories.vue
  front/github_clone_front/src/components/profile/non_registered/ProfilePageRepositoriesView.vue
  front/github_clone_front/src/components/profile/non_registered/ProfilePageStarsView.vue
  front/github_clone_front/src/components/profile/non_registered/ProfilePageView.vue
  front/github_clone_front/src/components/util/MainPageUtil/Nav-bar.vue
Labels: bug, frontend
