Repository mihajlodj/UKS-Tim3-2023, pull requests merged in 2024-02, with the labels that each got.

#27 Feature branches
  backend/.gitignore
  backend/docker-compose.yml
  backend/github_clone/Dockerfile
  backend/github_clone/auth/views.py
  backend/github_clone/branch/__init__.py
  backend/github_clone/branch/admin.py
  backend/github_clone/branch/apps.py
  backend/github_clone/branch/migrations/__init__.py
  backend/github_clone/branch/models.py
  backend/github_clone/branch/serializers.py
  backend/github_clone/branch/tests.py
  backend/github_clone/branch/urls.py
  backend/github_clone/branch/views.py
  backend/github_clone/github_clone/settings.py
  backend/github_clone/github_clone/urls.py
  backend/github_clone/main/gitea_service.py
  backend/github_clone/main/migrations/0011_branch_created_by.py
  backend/github_clone/main/migrations/0012_commit_timestamp.py
  backend/github_clone/main/migrations/0013_alter_commit_timestamp.py
  backend/github_clone/main/migrations/0014_pullrequest_status.py
  backend/github_clone/main/migrations/0015_pullrequest_timestamp.py
  backend/github_clone/main/migrations/0016_alter_commit_tags.py
  backend/github_clone/main/migrations/0017_alter_commit_tags.py
  backend/github_clone/main/migrations/0018_alter_branch_parent.py
  backend/github_clone/main/models.py
  backend/github_clone/main/urls.py
  backend/github_clone/main/webhooks.py
  backend/github_clone/repository/serializers.py
  backend/github_clone/repository/views.py
  backend/github_clone/tests/test_branches.py
  front/github_clone_front/src/assets/closed_pr_red.png
  front/github_clone_front/src/assets/closed_pr_white.png
  front/github_clone_front/src/assets/merged_pr_purple.png
  front/github_clone_front/src/assets/merged_pr_white.png
  front/github_clone_front/src/assets/open_pr_green.png
  front/github_clone_front/src/assets/open_pr_white.png
  front/github_clone_front/src/components/repository/CreateRepo.vue
  front/github_clone_front/src/components/repository/ViewRepo.vue
  front/github_clone_front/src/components/repository/branch/BranchesTable.vue
  front/github_clone_front/src/components/repository/branch/BranchesView.vue
  front/github_clone_front/src/main.js
  front/github_clone_front/src/services/BranchService.js
Labels: enhancement, backend, frontend

#31 Feature user profile crud
  backend/github_clone/auth/views.py
  backend/github_clone/developer/__init__.py
  backend/github_clone/developer/admin.py
  backend/github_clone/developer/apps.py
  backend/github_clone/developer/migrations/__init__.py
  backend/github_clone/developer/models.py
  backend/github_clone/developer/serializers.py
  backend/github_clone/developer/tests.py
  backend/github_clone/developer/urls.py
  backend/github_clone/developer/views.py
  backend/github_clone/github_clone/urls.py
  backend/github_clone/main/gitea_service.py
  backend/github_clone/main/migrations/0001_initial.py
  backend/github_clone/main/migrations/0002_remove_developer_email_remove_developer_name.py
  backend/github_clone/main/migrations/0003_registrationcandidate.py
  backend/github_clone/main/migrations/0004_registrationcandidate_created_at.py
  backend/github_clone/main/migrations/0005_alter_registrationcandidate_created_at.py
  backend/github_clone/main/migrations/0006_project_description.py
  backend/github_clone/main/migrations/0007_alter_workson_role.py
  backend/github_clone/main/migrations/0008_developer_gitea_token.py
  backend/github_clone/main/migrations/0009_developer_avatar.py
  backend/github_clone/main/migrations/0010_alter_developer_avatar.py
  backend/github_clone/main/migrations/0011_branch_created_by.py
  backend/github_clone/main/migrations/0012_commit_timestamp.py
  backend/github_clone/main/migrations/0013_alter_commit_timestamp.py
  backend/github_clone/main/migrations/0014_pullrequest_status.py
  backend/github_clone/main/migrations/0015_pullrequest_timestamp.py
  backend/github_clone/main/migrations/0016_alter_commit_tags.py
  backend/github_clone/main/migrations/0017_alter_commit_tags.py
  backend/github_clone/main/migrations/0018_alter_branch_parent.py
  backend/github_clone/main/models.py
  backend/github_clone/repository/urls.py
  backend/github_clone/repository/views.py
  backend/github_clone/tests/test_developer_crud.py
  front/github_clone_front/src/components/profile/ProfileNavBarExtension.vue
  front/github_clone_front/src/components/profile/ProfilePage.vue
  front/github_clone_front/src/components/profile/ProfilePageOverView.vue
  front/github_clone_front/src/components/profile/RepositoryContainer.vue
  front/github_clone_front/src/components/settingsProfile/SettingsProfile.vue
  front/github_clone_front/src/components/settingsProfile/SettingsProfileAccount.vue
  front/github_clone_front/src/components/settingsProfile/SettingsProfilePublicProfile.vue
  front/github_clone_front/src/components/util/MainPageUtil/Nav-bar.vue
  front/github_clone_front/src/components/util/MainPageUtil/RepositoryList.vue
  front/github_clone_front/src/components/util/MainPageUtil/SlideMenu.vue
  front/github_clone_front/src/components/util/MainPageUtil/SlideProfileMenu.vue
  front/github_clone_front/src/components/util/MainPageUtil/UserProfile.vue
  front/github_clone_front/src/components/util/ProfileSideBarUtil/SetStatus.vue
  front/github_clone_front/src/components/util/SettingsProfileUtil/ProfileSettingsMenu.vue
  front/github_clone_front/src/main.js
  front/github_clone_front/src/services/DeveloperService.js
  front/github_clone_front/src/services/RepositoryService.js
Labels: enhancement, backend, frontend

#33 Feature repository content
  backend/github_clone/main/gitea_service.py
  backend/github_clone/main/migrations/0001_initial.py
  backend/github_clone/main/models.py
  backend/github_clone/repository/urls.py
  backend/github_clone/repository/views.py
  backend/github_clone/tests/test_repository_content.py
  front/github_clone_front/babel.config.js
  front/github_clone_front/package-lock.json
  front/github_clone_front/package.json
  front/github_clone_front/src/components/repository/RepoContent.vue
  front/github_clone_front/src/components/repository/ViewRepo.vue
  front/github_clone_front/src/components/repository/content/CreateFile.vue
  front/github_clone_front/src/components/repository/content/FileDisplay.vue
  front/github_clone_front/src/components/repository/content/PathDisplay.vue
  front/github_clone_front/src/components/repository/content/non-text/NonTextDisplay.vue
  front/github_clone_front/src/components/repository/content/non-text/NonTextHeader.vue
  front/github_clone_front/src/components/repository/content/text/CodeDisplay.vue
  front/github_clone_front/src/components/repository/content/text/CodeHeader.vue
  front/github_clone_front/src/components/repository/content/text/EditingHeader.vue
  front/github_clone_front/src/components/repository/content/text/TextFile.vue
  front/github_clone_front/src/components/repository/content/text/TextFileEdit.vue
  front/github_clone_front/src/components/repository/content/upload/DropZone.vue
  front/github_clone_front/src/components/repository/content/upload/FilePreview.vue
  front/github_clone_front/src/components/repository/content/upload/UploadFile.vue
  front/github_clone_front/src/main.js
  front/github_clone_front/src/services/FileList.js
  front/github_clone_front/src/services/FileUploader.js
  front/github_clone_front/src/services/RepositoryService.js
  front/github_clone_front/src/store.js
Labels: enhancement, backend, frontend

#34 Bugfix user avatar
  backend/github_clone/branch/views.py
  backend/github_clone/github_clone/settings.py
  backend/github_clone/repository/views.py
  front/github_clone_front/src/components/repository/ViewRepo.vue
Labels: bug

#35 Feature permissions
  backend/github_clone/.vscode/launch.json
  backend/github_clone/branch/views.py
  backend/github_clone/main/migrations/0002_alter_workson_role.py
  backend/github_clone/main/models.py
  backend/github_clone/main/permissions.py
  backend/github_clone/repository/views.py
  backend/github_clone/tests/test_repository_crud.py
Labels: backend

#40 Technical dockerization
  backend/github_clone/.dockerignore
  backend/github_clone/Dockerfile
  backend/github_clone/main/migrations/0001_initial.py
  backend/github_clone/main/migrations/0002_alter_workson_role.py
  backend/github_clone/main/migrations/0019_milestone_description_milestone_state_and_more.py
  backend/github_clone/main/migrations/0020_milestone_id_from_gitea.py
  backend/github_clone/main/urls.py
  docker-compose.yml
  front/github_clone_front/Dockerfile
  gitea/git/.ssh/authorized_keys
  gitea/git/.ssh/environment
  gitea/gitea/conf/app.ini
  gitea/gitea/gitea.db
  gitea/gitea/home/.gitconfig
  gitea/gitea/indexers/issues.bleve/index_meta.json
  gitea/gitea/indexers/issues.bleve/rupture_meta.json
  gitea/gitea/indexers/issues.bleve/store/root.bolt
  gitea/gitea/jwt/private.pem
  gitea/gitea/queues/common/000002.ldb
  gitea/gitea/queues/common/000007.log
  gitea/gitea/queues/common/CURRENT
  gitea/gitea/queues/common/CURRENT.bak
  gitea/gitea/queues/common/LOCK
  gitea/gitea/queues/common/LOG
  gitea/gitea/queues/common/MANIFEST-000008
  gitea/gitea/sessions/1/a/1a879e58bf8e1ee9
  gitea/gitea/sessions/9/0/9057496144176dbf
  gitea/gitea/sessions/a/a/aad4c57d842cd780
  gitea/ssh/ssh_host_ecdsa_key
  gitea/ssh/ssh_host_ecdsa_key.pub
  gitea/ssh/ssh_host_ed25519_key
  gitea/ssh/ssh_host_ed25519_key.pub
  gitea/ssh/ssh_host_rsa_key
  gitea/ssh/ssh_host_rsa_key.pub
  nginx/Dockerfile
  nginx/conf.d/default.conf
Labels: technical

#45 Feature issues crud
  backend/github_clone/.gitignore
  backend/github_clone/avatars/git_profile_picture.png
  backend/github_clone/developer/views.py
  backend/github_clone/github_clone/urls.py
  backend/github_clone/issue/__init__.py
  backend/github_clone/issue/admin.py
  backend/github_clone/issue/apps.py
  backend/github_clone/issue/issue_service.py
  backend/github_clone/issue/migrations/__init__.py
  backend/github_clone/issue/models.py
  backend/github_clone/issue/serializers.py
  backend/github_clone/issue/tests.py
  backend/github_clone/issue/urls.py
  backend/github_clone/issue/views.py
  backend/github_clone/main/gitea_service.py
  backend/github_clone/main/models.py
  backend/github_clone/manage.py
  backend/github_clone/tests/test_issues_crud.py
  front/github_clone_front/.env
  front/github_clone_front/src/assets/logo_dark.png
  front/github_clone_front/src/assets/logo_dark.png~
  front/github_clone_front/src/assets/logo_light.png
  front/github_clone_front/src/assets/logo_light.png~
  front/github_clone_front/src/components/issue/ListIssueComponent.vue
  front/github_clone_front/src/components/issue/modals/AddIssueComponent.vue
  front/github_clone_front/src/components/issue/modals/UpdateIssueComponent.vue
  front/github_clone_front/src/components/pages/MainPage.vue
  front/github_clone_front/src/components/repository/RepoNavbar.vue
  front/github_clone_front/src/components/util/MainPageUtil/RepositoryList.vue
  front/github_clone_front/src/components/util/MainPageUtil/SlideMenu.vue
  front/github_clone_front/src/main.js
  front/github_clone_front/src/services/IssueService.js
  front/github_clone_front/src/services/RepositoryService.js
  front/github_clone_front/vue.config.js
Labels: enhancement, backend, frontend

#42 Technical redis config
  .gitignore
  backend/github_clone/github_clone/settings.py
  backend/github_clone/repository/views.py
  backend/github_clone/requirements.txt
  docker-compose.yml
  front/github_clone_front/Dockerfile
  front/github_clone_front/package-lock.json
  front/github_clone_front/package.json
Labels: enhancement, technical
